.profile {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 74px 0 70px 0;
}

.profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    max-width: 204px;
    width: 100%;
    color: #FFF;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 123px 0;
}

.profile__name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 410px;
    border-bottom: 1px solid #424242;
    padding: 0 0 16px 0;
    margin: 0 0 17px 0;
}

.profile__email-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 410px;
}

.profile__name-label {
    color: #FFF;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__email-label {
    color: #FFF;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile__name-input {
    color: #FFF;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    background-color: #202020;
    border: none;
    text-align: right;
}

.profile__email-input {
    color: #FFF;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    background-color: #202020;
    border: none;
    text-align: right;
}

.profile__handle-container {
    margin: 220px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 410px;
    width: 100%;
}

.profile__handle-edit {
    color: #FFF;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    background-color: #202020;
    border: none;
    cursor: pointer;
}

.profile__handle-edit:hover {
    opacity: 0.8;
}

.profile__handle-logout {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    background-color: #202020;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #EE3465;
}

.profile__handle-logout:hover {
    opacity: 0.8;
}

.profile__error-msg {
    color: #EE3465;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    text-align: center;
}

.profile__success-msg {
    color: green;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    text-align: center; 
}

@media screen and (max-width: 768px) {
    .profile {
        padding: 236px 0 269px 0;
    }
    
    .profile__title {
        margin: 0 0 96px 0;
    }
    
    .profile__handle-container {
        margin: 210px 0 0 0;
    }
}

@media screen and (max-width: 480px) {
    .profile {
        padding: 70px 0 40px 0;
    }

    .profile__title {
        margin: 0 0 80px 0;
    }
    
    .profile__name-container {
        min-width: 260px;
    }
    
    .profile__email-container {
        min-width: 260px;
    }

    .profile__handle-container {
        margin: 379px 0 0 0;
    }
}