.nav-tab {
    background: #272727;
    width: 100%;
    min-height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-tab__links{
    display: flex;
    gap: 40px;
}

.nav-tab__link {
    color: #FFFFFF;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.nav-tab__link:hover{
    opacity: 0.8;
}

@media screen and (max-width: 450px) {

    .nav-tab__links {
        gap: 24px;
    }
  
    .nav-tab__link {
        font-size: 11px;
    }
}